<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>IngressMedal</title>
</head>
<body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<h1>IngressMedal</h1>
<h3>agents list</h3>
{% for agent in agents %}
	<div>
		<hr>
		<a href=""><h4>codename: {{ agent.codename }}</h4></a>
		<p>Database creator: {{ agent.creator }}
		<br>Public: {{ agent.public }}
		<br>Last entry: <i>This feature ain't available yet</i>
		<br>Last all-time-entry: <i>This feature ain't available yet</i>
		<br>Last month-entry: <i>This feature ain't available yet</i>
		<br>Last week-entry: <i>This feature ain't available yet</i>
		<br><a href="">More...</a></p>
		<hr><br>
	</div>
{% endfor %}
</body>
</html>